<IfModule mod_deflate.c>
	SetEnv mod_deflate On
	# Insert filter
	SetOutputFilter DEFLATE

	# Don't compress images
	SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip 
</IfModule>

# Enabling filename rewriting (file.XXX.ext) if URL rewriting is enabled
# Otherwise URLs will use query strings (file.ext?v=XXX)
#
# More proxies cache assets if there is no query string
<IfModule mod_rewrite.c>
	SetEnv mod_rewrite On
	RewriteEngine On

	# Setting up an environment variable so your code can detect if mod_rewrite rules are executable
	# in this folder and you can use file.123.jpg or you need to fall back to file.jpg?123
	RewriteRule .					-	[E=URLVERSIONREWRITE:YES]

	# Rewrites a version in file.123.jpg as well as timestamped version file.123_m_12345123512354.jpg
	# to original file.jpg so you can use it instead of file.jpg?123 which isn't cached in some proxies.
	RewriteRule ^(.*)\.(\d+)(_m_\d+)?\.([^\.]+)$	$1.$4	[L,QSA]
</IfModule>

<IfModule mod_expires.c>
	SetEnv mod_expires On
	ExpiresActive On
	ExpiresByType image/png			"access plus 1 year"
	ExpiresByType image/gif			"access plus 1 year"
	ExpiresByType image/jpeg		"access plus 1 year"
	ExpiresByType image/vnd.microsoft.icon	"access plus 1 year"
	ExpiresByType text/css			"access plus 1 year"
	ExpiresByType application/x-javascript	"access plus 1 year"
	ExpiresByType application/javascript	"access plus 1 year"
	ExpiresByType text/javascript		"access plus 1 year"
</IfModule>
