# Compression: http://code.google.com/speed/page-speed/docs/payload.html#GzipCompression
<IfModule mod_deflate.c>
	AddOutputFilter DEFLATE application/atom+xml
	AddOutputFilter DEFLATE application/json
	AddOutputFilter DEFLATE application/xhtml+xml
	AddOutputFilter DEFLATE application/xml
	AddOutputFilter DEFLATE text/css
	AddOutputFilter DEFLATE text/html
	AddOutputFilter DEFLATE text/plain
	AddOutputFilter DEFLATE text/x-component
	AddOutputFilter DEFLATE text/xml
	
	# The following MIME types are in the process of registration
	AddOutputFilter DEFLATE application/xslt+xml
	AddOutputFilter DEFLATE image/svg+xml
	
	# The following MIME types are NOT registered
	AddOutputFilter DEFLATE application/mathml+xml
	AddOutputFilter DEFLATE application/rss+xml
	
	# JavaScript has various MIME types
	AddOutputFilter DEFLATE application/javascript
	AddOutputFilter DEFLATE application/x-javascript
	AddOutputFilter DEFLATE text/ecmascript
	AddOutputFilter DEFLATE text/javascript
</IfModule>

# Enabling filename rewriting (file.XXX.ext) if URL rewriting is enabled
# Otherwise URLs will use query strings (file.ext?v=XXX)
#
# More proxies cache assets if there is no query string
<IfModule mod_rewrite.c>
	RewriteEngine On

	# Setting up an environment variable so your code can detect if mod_rewrite rules are executable
	# in this folder and you can use file.123.jpg or you need to fall back to file.jpg?123
	RewriteRule .					-	[E=URLVERSIONREWRITE:YES]

	# Rewrites a version in file.123.jpg as well as timestamped version file.123_m_12345123512354.jpg
	# to original file.jpg so you can use it instead of file.jpg?123 which isn't cached in some proxies.
	RewriteCond %{REQUEST_FILENAME}			!-f
	RewriteRule ^(.*)\.(\d+)(_m_\d+)?\.([^\.]+)$	$1.$4	[L,QSA]

	# Rewrites a version in file.ac123fe.jpg to original file.jpg
	# so you can use it instead of file.jpg?123 which isn't cached in some proxies.
	# Used for hash-based URLs where having a timestamp is not necessary.
	RewriteCond %{REQUEST_FILENAME}			!-f
	RewriteRule ^(.*)\.([a-z\d]+)\.([^\.]+)$	$1.$3	[L,QSA]
</IfModule>

# Browser Caching: http://code.google.com/speed/page-speed/docs/caching.html#LeverageBrowserCaching
#
# Google recommends specifying the following for all cacheable resources:
#
#    1. Expires or Cache-Control max-age
#
# 	Set Expires to a minimum of one month, and preferably up to one year, in the future. (We
# 	prefer Expires over Cache-Control: max-age because it is is more widely supported.) Do not
# 	set it to more than one year in the future, as that violates the RFC guidelines.
#
#    2. Last-Modified or ETag
#
# 	Set the Last-Modified date to the last time the resource was changed. If the Last-Modified
#	date is sufficiently far enough in the past, chances are the browser won't refetch it. 
#
# Per Google: "it is redundant to specify both Expires and Cache-Control: max-age, or to specify
# both Last-Modified and ETag."
<IfModule mod_expires.c>
	ExpiresActive On

	ExpiresByType application/json			"access plus 1 year"
	ExpiresByType application/pdf			"access plus 1 year"
	ExpiresByType application/x-shockwave-flash	"access plus 1 year"
	ExpiresByType image/bmp 			"access plus 1 year"
	ExpiresByType image/gif 			"access plus 1 year"
	ExpiresByType image/jpeg 			"access plus 1 year"
	ExpiresByType image/png 			"access plus 1 year"
	ExpiresByType image/svg+xml 			"access plus 1 year"
	ExpiresByType image/tiff 			"access plus 1 year"
	ExpiresByType image/vnd.microsoft.icon 		"access plus 1 year"
	ExpiresByType text/css 				"access plus 1 year"
	ExpiresByType video/x-flv 			"access plus 1 year"
	ExpiresByType application/vnd.bw-fontobject	"access plus 1 year"
	ExpiresByType application/x-font-ttf		"access plus 1 year"
	ExpiresByType application/x-woff		"access plus 1 year"

	# The following MIME types are in the process of registration
	ExpiresByType application/xslt+xml		"access plus 1 year"
	ExpiresByType image/svg+xml			"access plus 1 year"

	# The following MIME types are NOT registered
	ExpiresByType application/mathml+xml		"access plus 1 year"
	ExpiresByType application/rss+xml		"access plus 1 year"

	# JavaScript has various MIME types
	ExpiresByType application/x-javascript 		"access plus 1 year"
	ExpiresByType application/javascript 		"access plus 1 year"
	ExpiresByType text/ecmascript 			"access plus 1 year"
	ExpiresByType text/javascript 			"access plus 1 year"
</IfModule>

# TODO: Set Last-Modified per Google's recommendation to complete browser caching

<IfModule mod_headers.c>
	# Try removing etag headers (if it's coming from proxy for example)
	Header unset ETag
</IfModule>

# Remove ETags
FileETag None
